*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(87.4deg, rgb(255, 241, 165) 1.9%, rgb(200, 125, 76) 49.7%, rgb(83, 54, 54) 100.5%);
    text-align: center;    
}
.container{
    height: 70vh;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;  
}
.game{
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 10px rgb(6, 6, 10);
    font-size: 8vmin;
    background: linear-gradient(109.6deg, rgb(6, 2, 2) 32.4%, rgb(137, 30, 47) 98.8%);
    color:#B27A62;
}
#reset-btn{
    padding: 1rem;
    font: 1.5rem;
    background: black;
    color: white;
    border: none;
    border-radius: 1rem;
}  
#newbtn{
    padding: 1rem;
    font: 1.5rem;
    background: black;
    color: white;
    border: none;
    border-radius: 1rem;
}
#msg{
    color: rgb(23, 13, 13);
    font-size: 5vmin;

}
.msgContainer{
    height: 100vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}